<!-- home -->
<div class="sideBar-menu pull-left">
	<ul class="nav   nav-pills  nav-stacked">
		<li role="presentation" class="active" ><a ui-sref="#"><span
				class=" glyphicon  glyphicon-th-large">&nbsp;&nbsp;</span>首页</a></li>
		<li role="presentation" class="" ><a ui-sref="home.aboutMe"><span
				class=" glyphicon  glyphicon-user">&nbsp;&nbsp;</span>关于我</a></li>
		<li role="presentation" class=""><a ui-sref="home.aboutMe"><span
				class=" glyphicon glyphicon-camera">&nbsp;&nbsp;</span>那些年</a></li>
		<li role="presentation" class=""><a ui-sref="home.aboutMe"><span
				class=" glyphicon glyphicon-pencil">&nbsp;&nbsp;</span>碎碎念</a></li>
		<li role="presentation" class=""><a ui-sref="home.aboutMe"><span
				class=" glyphicon  glyphicon-heart">&nbsp;&nbsp;</span>情感语</a></li>
	</ul>
</div>
<div ui-view="" class="rightView pull-right"></div>
