<div class="container" style = "width:30%">
		<h3>My Space</h3>
		<br/>
		<table  class="table">
			<tr>
				<td width="80">用户名：</td>
				<td><input  ng-model="credentials.username"  class="form-control active" /></td>
			</tr>
			<tr>
				<td>密码：</td>
				<td><input  ng-model="credentials.password" type="password"  class="form-control active" /></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<button  ng-click="DealLogin()" class="btn btn-success">登录系统</button>
				</td>
			</tr>
		</table>
</div>

